I will start by first cleaning the dataset, we have been told that the dataset contains column names with whitespace as well as duplicate or missing values. I will;
1. Clean whitespace from column names.
2. Drop all missing values from the dataset
3. Check and remove any duplicate files if present.

After this I will proceed to perform the analysis.

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# read in file into the environment and remove whitespace
movies = pd.read_csv("movie_dataset.csv", skipinitialspace=True)

# view file and stats
print(movies.shape)
print(movies.describe())
movies.head()

(1000, 12)
              Rank         Year  Runtime (Minutes)       Rating         Votes  \
count  1000.000000  1000.000000        1000.000000  1000.000000  1.000000e+03
mean    500.500000  2012.783000         113.172000     6.723200  1.698083e+05
std     288.819436     3.205962          18.810908     0.945429  1.887626e+05
min       1.000000  2006.000000          66.000000     1.900000  6.100000e+01
25%     250.750000  2010.000000         100.000000     6.200000  3.630900e+04
50%     500.500000  2014.000000         111.000000     6.800000  1.107990e+05
75%     750.250000  2016.000000         123.000000     7.400000  2.399098e+05
max    1000.000000  2016.000000         191.000000     9.000000  1.791916e+06

       Revenue (Millions)   Metascore
count          872.000000  936.000000
mean            82.956376   58.985043
std            103.253540   17.194757
min              0.000000   11.000000
25%             13.270000   47.000000
50%             47.985000   59.500000
75%            113.715000   72.000000
max            936.630000  100.000000

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

What is the highest rated movie in the dataset?

In [ ]:
# drop any missing values from the dataset
movies_1 = movies.dropna().drop_duplicates()

In [ ]:
# What is the highest rated movie in the dataset
movies_1.loc[movies_1["Rating"].idxmax()]

Rank                                                                 55
Title                                                   The Dark Knight
Genre                                                Action,Crime,Drama
Description           When the menace known as the Joker wreaks havo...
Director                                              Christopher Nolan
Actors                Christian Bale, Heath Ledger, Aaron Eckhart,Mi...
Year                                                               2008
Runtime (Minutes)                                                   152
Rating                                                              9.0
Votes                                                           1791916
Revenue (Millions)                                               533.32
Metascore                                                          82.0
Name: 54, dtype: object

What is the average revenue of movies from 2015 to 2017 in the dataset?
Note, since the answer will be effected by how you dealt with missing values a range has been provided.

In [33]:
rev_2015_2017 = movies_1[(movies_1["Year"] >= 2015) & (movies_1["Year"] <= 2017)]["Revenue (Millions)"].mean()
print(rev_2015_2017)

64.49895765472313

What is the average revenue of all movies in the dataset?
Note, since the answer will be effected by how you dealt with missing values a range has been provided.

In [ ]:
avg_revenue = movies_1["Revenue (Millions)"].mean()
print(avg_revenue)

84.5645584725537

How many movies were released in the year 2016?

In [ ]:
n_movies_16 = movies[movies["Year"] == 2016]["Title"].count()
print(n_movies_16)

297

How many movies were directed by Christopher Nolan?

In [ ]:
chris_movie = movies[movies["Director"] == "Christopher Nolan"]["Title"].count()
print(chris_movie)

5

How many movies in the dataset have a rating of at least 8.0?

In [32]:
movie_gret8 = movies[movies['Rating'] >= 8.0]['Title'].count()
print(movie_gret8)

78

What is the median rating of movies directed by Christopher Nolan?

In [ ]:
chris_movie_rating = movies[movies["Director"] == "Christopher Nolan"]["Rating"].mean()
print(chris_movie_rating)

8.680000000000001

Find the year with the highest average rating?

In [ ]:
max_year = movies_1.groupby('Year')['Rating'].mean()
print(max_year.idxmax())

2006

What is the percentage increase in number of movies made between 2006 and 2016?

In [34]:
n_movies_2006 = movies[movies["Year"] == 2006]["Title"].count()
n_movies_2016 = movies[movies["Year"] == 2016]["Title"].count()
perc_increase = (n_movies_2016 - n_movies_2006) / n_movies_2006 * 100
print(perc_increase)

575.0

Find the most common actor in all the movies?

Note, the "Actors" column has multiple actors names. You must find a way to search for the most common actor in all the movies.

In [35]:
# Find the most common actor in all the movies?
# Note, the "Actors" column has multiple actors names. You must find a way to search for the most common actor in all the movies.
movies_1["Actors"].str.split(", ", expand=True).stack().value_counts().idxmax()

'Mark Wahlberg'

How many unique genres are there in the dataset?

Note, the "Genre" column has multiple genres per movie. You must find a way to identify them individually.

In [36]:
# How many unique genres are there in the dataset?
# Note, the "Genre" column has multiple genres per movie. You must find a way to identify them individually.
movies_1["Genre"].str.split(",", expand=True).stack().value_counts().count()

20